.header {
    text-align: center;
    margin-top: 0;
    padding-top: 20px;
}

.navbar {
    width: 100%;
    background-color: rgb(206, 220, 231);
    overflow: auto;
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.navbar li {
    display: inline-block;
}

.navbar a {
    display: inline-block;
    padding: 20px 20px 20px;
    text-decoration: none;
    color: rgb(3, 3, 3);
}

.navbar a:hover {
    background-color: black;
    color: whitesmoke;
}